<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="stylesheet" href="../sass/main.css" /> -->
    <title>Document</title>
  </head>
  <body>
<p><a href="../index.html">Go back</a></p>

<main>

<form class="form-inline search-form js-search-form">
  <input type="text" name="query" class="search-input" />
  <button type="submit" class="search-btn">search</button>
</form>

<div class="js-card-container"></div>

<div class="alert">We're sorry, there are no more posts to load</div>
<ul class="posts"></ul>
<button type="button" class="btn">Fetch posts</button>


</main>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="../js/Mod10-Lesson19.js" type="module"></script>
    <script src="../js/Mod10-Lesson20.js" type="module"></script>
    
  </body>
</html>
