<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="stylesheet" href="./css/main.css" /> -->
    <title>Document</title>
  </head>
  <body>
<p><a href="../index.html">Go back</a></p>

<main>


<div class="js-card-container"></div>


</main>

    <script src="../js/Mod10-Lesson19.js" type="module"></script>
    <script src="../js/Mod10-Lesson20.js" type="module"></script>
    
  </body>
</html>
